Repository oap-project/arrow, pull requests merged in 2021-12, with the labels that each got.

#50 Fix issue in get_json_object
  cpp/src/gandiva/function_holder_registry.h
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/json_holder.cc
  cpp/src/gandiva/json_holder.h
  cpp/src/gandiva/json_holder_test.cc
Labels: lang-c++, gandiva

#54 Fix issues in multi-key json case and empty value case
  cpp/src/gandiva/json_holder.cc
  cpp/src/gandiva/json_holder_test.cc
Labels: lang-c++, gandiva

#56 Support no hyphen included date format in castVARCHAR_date32_int64 and fix issue in unit test
  cpp/src/gandiva/precompiled/time.cc
  cpp/src/gandiva/precompiled/time_test.cc
Labels: lang-c++, gandiva

#57 Support date32 type in date_sub function in gandiva
  cpp/src/gandiva/function_registry_timestamp_arithmetic.cc
  cpp/src/gandiva/precompiled/timestamp_arithmetic.cc
Labels: lang-c++, gandiva

#59 Add a castTIMESTAMP function with date format checked to exclude unsupported cases
  cpp/src/gandiva/function_registry_datetime.cc
  cpp/src/gandiva/precompiled/time.cc
  cpp/src/gandiva/precompiled/types.h
Labels: lang-c++, gandiva

#60 Add support to cast bool type to bigint type
  cpp/src/gandiva/function_registry_arithmetic.cc
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
Labels: lang-c++, gandiva

#61 remove log4j as it's not used
  java/performance/pom.xml
Labels: lang-java

#63 Add stripe iteration support for batch_size reading in the ORC Scanner
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/adapters/orc/adapter.h
  cpp/src/arrow/dataset/file_orc.cc
Labels: lang-c++

#66 Install re2 headers to cmake installl include dir
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++
