Repository oap-project/arrow, pull requests merged in 2021-07, with the labels that each got.

#24 Dataset API: Allow empty projection
  cpp/src/jni/dataset/jni_wrapper.cc
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
Labels: lang-c++, lang-java

#26 Add int32 support and change format of castVarchar
  cpp/src/gandiva/function_registry_datetime.cc
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
  cpp/src/gandiva/precompiled/time.cc
Labels: gandiva, lang-c++

#27 Create utility dir arrow/jniutil
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/jniutil/CMakeLists.txt
  cpp/src/arrow/jniutil/jni_util.cc
  cpp/src/arrow/jniutil/jni_util.h
  cpp/src/arrow/jniutil/jni_util_test.cc
  cpp/src/jni/dataset/CMakeLists.txt
  cpp/src/jni/dataset/jni_wrapper.cc
Labels: lang-c++

#28 fix coredump issue when client not successfully connected but need disconnect
  java/plasma/src/main/java/org/apache/arrow/plasma/PlasmaClient.java
Labels: lang-java
