Repository oap-project/arrow, pull requests merged in 2021-11, with the labels that each got.

#36 BackPort [ARROW-13572]: ORC support , [ARROW-13797]: column projection pushdow, and refactor some classes
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/adapters/orc/adapter.h
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/arrow/dataset/api.h
  cpp/src/arrow/dataset/expression.cc
  cpp/src/arrow/dataset/expression.h
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/file_base.h
  cpp/src/arrow/dataset/file_orc.cc
  cpp/src/arrow/dataset/file_orc.h
  cpp/src/arrow/dataset/file_orc_test.cc
  docs/source/cpp/dataset.rst
  docs/source/python/api/dataset.rst
  docs/source/python/dataset.rst
  python/CMakeLists.txt
  python/pyarrow/_dataset.pxd
  python/pyarrow/_dataset.pyx
  python/pyarrow/_dataset_orc.pyx
  python/pyarrow/dataset.py
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_orc.py
  python/setup.py
Labels: lang-c++, lang-java, gandiva, lang-c-glib, lang-csharp, lang-go, lang-js, lang-python, lang-R, lang-ruby, lang-rust, datafusion, flight, parquet

#38 avoid whole partition cache
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner.h
  cpp/src/jni/dataset/jni_wrapper.cc
Labels: lang-c++

#42 Add ORC Dataset JNI Support
  cpp/src/jni/dataset/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/file/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/format/OrcFileFormat.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
  java/dataset/src/test/resources/data/people.orc
Labels: lang-c++, lang-java

#43 IllegalStateException reading data with struct type
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeScanner.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
  java/dataset/src/test/resources/data/struct_example.parquet
Labels: lang-java

#45 update fastpfor
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: lang-c++

#44 Support "return null" if there is an exception in casting string to int, bigint, float or double
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs.h
Labels: lang-c++, gandiva

#46 fix fastpfor
  java/format/src/main/java/org/apache/arrow/flatbuf/CompressionType.java
Labels: lang-java

#47 Add support for batch_size in the ORC Scanner (Dataset) for ARROW-14153
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/adapters/orc/adapter.h
  cpp/src/arrow/dataset/file_orc.cc
Labels: lang-c++

#48 backport gandiva functions
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/function_holder_registry.h
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/like_holder.cc
  cpp/src/gandiva/like_holder.h
  cpp/src/gandiva/like_holder_test.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
  cpp/src/gandiva/replace_holder.cc
  cpp/src/gandiva/replace_holder.h
  cpp/src/gandiva/replace_holder_test.cc
  cpp/src/gandiva/tests/utf8_test.cc
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/ProjectorTest.java
Labels: lang-c++, lang-java, gandiva

#49 [WIP] json support
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/function_holder_registry.h
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/json_holder.cc
  cpp/src/gandiva/json_holder.h
  cpp/src/gandiva/json_holder_test.cc
Labels: lang-c++, gandiva

#51 AllocationListener should be called in BufferLedger#transferBalance(...)
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BufferLedger.java
Labels: lang-java
