Repository oap-project/arrow, pull requests merged in 2022-04, with the labels that each got.

#95 Bump version to fix 3rd-party components' vulnerabilities
  LICENSE.txt
  cpp/thirdparty/versions.txt
  go/arrow/LICENSE.txt
  go/parquet/LICENSE.txt
  java/dataset/pom.xml
  java/gandiva/pom.xml
  java/vector/pom.xml
  python/pyarrow/tests/parquet/test_basic.py
  rust/ballista/docker/rust-base.dockerfile
Labels: lang-c++, lang-java, lang-go, lang-python, lang-rust, ballista

#94 Create reader from iter
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
Labels: lang-c++

#93 Enable TPCH Q6 for gazelle-jni arrow backend
  .travis.yml
  cpp/CMakeLists.txt
  cpp/cmake_modules/BuildUtils.cmake
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/FindArrowEngine.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/examples/arrow/CMakeLists.txt
  cpp/examples/arrow/engine_substrait_consumption.cc
  cpp/examples/arrow/tpch_q1_demo.cc
  cpp/examples/arrow/tpch_q6_demo.cc
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/array/array_base.cc
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/array/builder_base.h
  cpp/src/arrow/compute/exec/expression_internal.h
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/csv/column_decoder_test.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/datum.h
  cpp/src/arrow/engine/ArrowEngineConfig.cmake.in
  cpp/src/arrow/engine/CMakeLists.txt
  cpp/src/arrow/engine/api.h
  cpp/src/arrow/engine/arrow-engine.pc.in
  cpp/src/arrow/engine/pch.h
  cpp/src/arrow/engine/simple_extension_type_internal.h
  cpp/src/arrow/engine/substrait/CMakeLists.txt
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/expression_internal.h
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/extension_types.cc
  cpp/src/arrow/engine/substrait/extension_types.h
  cpp/src/arrow/engine/substrait/plan_internal.cc
  cpp/src/arrow/engine/substrait/plan_internal.h
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.h
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde.h
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/type_internal.cc
  cpp/src/arrow/engine/substrait/type_internal.h
  cpp/src/arrow/engine/visibility.h
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/scalar.cc
  cpp/src/arrow/scalar.h
  cpp/src/arrow/status_test.cc
  cpp/src/arrow/testing/matchers.h
  cpp/src/arrow/type.h
  cpp/src/arrow/util/hashing.h
  cpp/thirdparty/versions.txt
  dev/archery/archery/cli.py
  dev/archery/archery/lang/cpp.py
  dev/release/rat_exclude_files.txt
  format/substrait/extension_types.yaml
Labels: lang-c++, flight

#97 Add regexp_extract function
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/extract_holder.cc
  cpp/src/gandiva/extract_holder.h
  cpp/src/gandiva/extract_holder_test.cc
  cpp/src/gandiva/function_holder_registry.h
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/precompiled/string_ops.cc
Labels: lang-c++, gandiva

#98 Add substring_index function
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
Labels: lang-c++, gandiva
