Repository oap-project/arrow, pull requests merged in 2022-05, with the labels that each got.

#102 Fix core dump issue caused by the previous implementation for substr_index
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/extract_holder_test.cc
  cpp/src/gandiva/function_holder_registry.h
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
  cpp/src/gandiva/substr_index_holder.cc
  cpp/src/gandiva/substr_index_holder.h
  cpp/src/gandiva/substr_index_holder_test.cc
Labels: lang-c++, gandiva

#104 ARROW-16568: [Java] Enable skip BOUNDS_CHECKING with setBytes and get…
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ArrowBuf.java
Labels: lang-java

#105 Add URLDecoder function
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
Labels: lang-c++, gandiva

#107 Let the index start from 0 for split_part
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
Labels: lang-c++, gandiva

#106 Optimize zlib decompress path with ISA-L
  cpp/CMakeLists.txt
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/util/compression_zlib_isal.cc
Labels: lang-c++

#109 Fix a bug in url_decoder
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
Labels: lang-c++, gandiva

#108 Handle the case of comparing NAN and infinity
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
  cpp/src/gandiva/precompiled/arithmetic_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
Labels: lang-c++, gandiva
