Repository oap-project/arrow, pull requests merged in 2022-12, with the labels that each got.

#185 Parse int96 to milliseconds
  cpp/src/parquet/arrow/reader_internal.cc
Labels: lang-c++, parquet

#122 Wip parquet write compression
  cpp/src/arrow/dataset/file_base.h
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet.h
  cpp/src/jni/dataset/jni_wrapper.cc
  cpp/src/parquet/properties.h
  java/dataset/src/main/java/org/apache/arrow/dataset/file/DatasetFileWriter.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/JniWrapper.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestDatasetFileWriter.java
Labels: lang-c++, lang-java, parquet

#186 Returns null when divide/mod by 0
  cpp/src/gandiva/function_registry_arithmetic.cc
  cpp/src/gandiva/function_registry_common.h
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
  cpp/src/gandiva/precompiled/arithmetic_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
Labels: lang-c++, gandiva
