Repository oap-project/arrow, pull requests merged in 2022-09, with the labels that each got.

#154 Fix bugs in sha2 functions with kResultNullIfNull set
  cpp/src/gandiva/function_registry_common.h
  cpp/src/gandiva/gdv_function_stubs.cc
Labels: lang-c++, gandiva

#155 Fix compatibility issue for split in tackling empty input
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
Labels: lang-c++, gandiva

#144 Parquet String/Binary Type reading optimization
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/src/arrow/buffer.h
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/arrow/parquet_scan_benchmark.cc
  cpp/src/parquet/arrow/parquet_scan_string_benchmark.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/arrow/test_utils.h
  cpp/src/parquet/arrow/utils/exception.h
  cpp/src/parquet/arrow/utils/macros.h
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding.h
Labels: lang-c++, parquet

#152 parse_url support invalid charactor in query
  cpp/src/gandiva/parse_url_holder.h
  cpp/src/gandiva/parse_url_holder_test.cc
Labels: lang-c++, gandiva

#149 Handle array object and support bracket specified json path for get_json_object
  cpp/src/gandiva/json_holder.cc
  cpp/src/gandiva/json_holder_test.cc
Labels: lang-c++, gandiva

#160 Get current parsing position for validating the following json char
  cpp/src/gandiva/json_holder.cc
  cpp/src/gandiva/json_holder_test.cc
Labels: lang-c++, gandiva

#146 Support parquet write from scanner to file
  cpp/src/jni/dataset/jni_wrapper.cc
  java/dataset/CMakeLists.txt
  java/dataset/src/main/java/org/apache/arrow/dataset/file/DatasetFileWriter.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/NativeScannerAdaptor.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/NativeScannerAdaptorImpl.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeRecordBatchIterator.java
Labels: lang-c++, lang-java

#161 Support singularOrList and remove alias
  cpp/src/arrow/engine/substrait/expression_internal.cc
Labels: lang-c++

#164 fix read parquet with null check
  cpp/src/arrow/dataset/file_parquet.cc
Labels: lang-c++

#166 fix parse_url with fragment
  cpp/src/gandiva/parse_url_holder.h
Labels: lang-c++, gandiva

#168 fix parse_url result
  cpp/src/gandiva/parse_url_holder.h
Labels: lang-c++, gandiva

#157 [scan-opt-2] Optimize decode function and refine code
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding.h
  cpp/thirdparty/versions.txt
Labels: lang-c++, parquet

#170 Parse options in SingularOrList correctly
  cpp/src/arrow/engine/substrait/expression_internal.cc
Labels: lang-c++

#172 Delete jnilib on JVM exit
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniLoader.java
Labels: lang-java
