Repository oap-project/arrow, pull requests merged in 2022-03, with the labels that each got.

#85 7.0.0 rebase gazelle test fix
  cpp/src/gandiva/function_registry_datetime.cc
  cpp/src/jni/dataset/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeSerializedRecordBatchIterator.java
Labels: lang-java

#86 Fix broken view-based buffer sharing against 7.0.0
  cpp/src/parquet/arrow/reader.cc
Labels: lang-c++, parquet

#88 disable flight
  java/pom.xml
Labels: lang-java

#92 Fix fixDeserializeUnsafeFromJava interface for Map
  cpp/src/arrow/jniutil/jni_util.cc
Labels: lang-c++
