Repository oap-project/arrow, pull requests merged in 2022-06, with the labels that each got.

#111 fix rlike
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/function_holder_registry.h
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/llvm_generator_test.cc
  cpp/src/gandiva/rlike_holder.cc
  cpp/src/gandiva/rlike_holder.h
  cpp/src/gandiva/rlike_holder_test.cc
Labels: lang-c++, gandiva

#112 StructVector's child vectors get unexpectedly reordered after adding …
  java/vector/src/main/java/org/apache/arrow/vector/complex/AbstractStructVector.java
  java/vector/src/main/java/org/apache/arrow/vector/util/MapWithOrdinalImpl.java
  java/vector/src/test/java/org/apache/arrow/vector/TestStructVector.java
Labels: lang-java

#115 Bump 3rd-party components' version to fix vulnerabilities
  LICENSE.txt
  cpp/thirdparty/versions.txt
  go/arrow/LICENSE.txt
  go/parquet/LICENSE.txt
  java/dataset/pom.xml
  java/gandiva/pom.xml
  java/vector/pom.xml
  python/pyarrow/tests/parquet/test_basic.py
  rust/ballista/docker/rust-base.dockerfile
Labels: lang-c++, lang-java, lang-go, lang-python, lang-rust, ballista

#114 Add conv function
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
Labels: lang-c++, gandiva

#116 Port to_hex/from_hex functions
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
Labels: lang-c++, gandiva

#117 parquet compress w/ snappy
  cpp/src/parquet/properties.h
Labels: lang-c++, parquet

#118 Fix bugs in gandiva functions
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
  cpp/src/gandiva/precompiled/arithmetic_ops_test.cc
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
  cpp/src/gandiva/substr_index_holder.cc
Labels: lang-c++, gandiva

#119 ARROW-16566: [Java] Initialize JNI components on use instead of statically
  java/dataset/src/main/java/org/apache/arrow/dataset/file/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeMemoryPool.java
Labels: lang-java

#120 allow read parquet with invalid utf8 data
  cpp/src/parquet/arrow/reader_internal.cc
Labels: lang-c++, parquet

#121 Remove setting error message for decimal when divide by zero
  cpp/src/gandiva/precompiled/decimal_ops.cc
  cpp/src/gandiva/precompiled/decimal_ops_test.cc
Labels: lang-c++, gandiva
